@use "framework";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$font-stack: Helvetica, sans-serif;
$primary-color: rgba(74, 74, 74, 0.7);
$secondary-color: #cc9543;
$backdrop-color: rgba(74, 74, 74, 0.15);
ul {
  list-style: none;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}
a {
  text-decoration: none;
  color: $secondary-color;
}
li {
  padding: 10px;
}
.flex {
  display: flex;
  align-items: baseline;
}
.end {
  justify-content: flex-end;
}
nav {
  h1 {
    padding: 10px;
  }
  li {
    cursor: pointer;
  }
  li:hover {
    color: black;
  }
}
.progress {
  margin-top: 50px;
}
.progress > * {
  padding: 10px;
}
section {
  aside {
    padding: 15px;
  }
  article {
    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 20px;
      margin-top: 20px;
      color: darken($primary-color, 30%);
      cursor: pointer;
    }
    p {
      line-height: 1.4;
      font-size: 1.35rem;
      width: 80%;
    }
    ul {
      margin-left: 20px;
      li {
        list-style: disc;
        font-size: 1.25rem;
        padding: 5px;
      }
    }
    ol {
      margin-left: 25px;
      font-size: 1.25rem;
      li {
        padding: 15px 5px;
      }
    }
    a {
      cursor: pointer;
      &:hover {
        color: black;
      }
      text-decoration: underline;
    }
    padding: 15px;
  }
  .backdrop {
    background: $backdrop-color;
    min-height: 50vh;
    width: 80%;
    overflow: hidden;
  }
}
.mb-3 {
  margin-bottom: 30px;
}
.last-section {
  background: $backdrop-color;
  padding-top: 50px;
}
.white-backdrop {
  background: white;
  justify-content: space-between;
}
