.column-1 {
  grid-column: span 1;
}

.column-2 {
  grid-column: span 2;
}

.column-3 {
  grid-column: span 3;
}

.column-4 {
  grid-column: span 4;
}

.column-5 {
  grid-column: span 5;
}

.column-6 {
  grid-column: span 6;
}

.column-7 {
  grid-column: span 7;
}

.column-8 {
  grid-column: span 8;
}

.column-9 {
  grid-column: span 9;
}

.column-10 {
  grid-column: span 10;
}

.column-11 {
  grid-column: span 11;
}

.column-12 {
  grid-column: span 12;
}

@media (min-width: 1200px) {
  .column-lg-1 {
    grid-column: span 1;
  }

  .column-lg-2 {
    grid-column: span 2;
  }

  .column-lg-3 {
    grid-column: span 3;
  }

  .column-lg-4 {
    grid-column: span 4;
  }

  .column-lg-5 {
    grid-column: span 5;
  }

  .column-lg-6 {
    grid-column: span 6;
  }

  .column-lg-7 {
    grid-column: span 7;
  }

  .column-lg-8 {
    grid-column: span 8;
  }

  .column-lg-9 {
    grid-column: span 9;
  }

  .column-lg-10 {
    grid-column: span 10;
  }

  .column-lg-11 {
    grid-column: span 11;
  }

  .column-lg-12 {
    grid-column: span 12;
  }
}
@media (min-width: 992px) and (max-width: 1199.99px) {
  .column-md-1 {
    grid-column: span 1;
  }

  .column-md-2 {
    grid-column: span 2;
  }

  .column-md-3 {
    grid-column: span 3;
  }

  .column-md-4 {
    grid-column: span 4;
  }

  .column-md-5 {
    grid-column: span 5;
  }

  .column-md-6 {
    grid-column: span 6;
  }

  .column-md-7 {
    grid-column: span 7;
  }

  .column-md-8 {
    grid-column: span 8;
  }

  .column-md-9 {
    grid-column: span 9;
  }

  .column-md-10 {
    grid-column: span 10;
  }

  .column-md-11 {
    grid-column: span 11;
  }

  .column-md-12 {
    grid-column: span 12;
  }
}
@media (max-width: 991.99px) {
  .column-sm-1 {
    grid-column: span 1;
  }

  .column-sm-2 {
    grid-column: span 2;
  }

  .column-sm-3 {
    grid-column: span 3;
  }

  .column-sm-4 {
    grid-column: span 4;
  }

  .column-sm-5 {
    grid-column: span 5;
  }

  .column-sm-6 {
    grid-column: span 6;
  }

  .column-sm-7 {
    grid-column: span 7;
  }

  .column-sm-8 {
    grid-column: span 8;
  }

  .column-sm-9 {
    grid-column: span 9;
  }

  .column-sm-10 {
    grid-column: span 10;
  }

  .column-sm-11 {
    grid-column: span 11;
  }

  .column-sm-12 {
    grid-column: span 12;
  }
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  max-width: 1300px;
  padding: 20px;
}

.center {
  margin: 0 auto;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font: 100% Helvetica, sans-serif;
  color: rgba(74, 74, 74, 0.7);
}

a {
  text-decoration: none;
  color: #cc9543;
}

li {
  padding: 10px;
}

.flex {
  display: flex;
  align-items: baseline;
}

.end {
  justify-content: flex-end;
}

nav h1 {
  padding: 10px;
  cursor: pointer;
}
nav h1:hover {
  color: black;
}
nav li {
  cursor: pointer;
}
nav li:hover {
  color: black;
}

.progress {
  margin-top: 50px;
}

.progress > * {
  padding: 10px;
}

section aside {
  padding: 15px;
}
section aside ul {
  list-style-type: disc;
}
section aside ul li {
  cursor: pointer;
}
section aside ul li:hover {
  color: black;
}
section article {
  padding: 15px;
}
section article h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
section article p {
  line-height: 1.4;
  font-size: 1.35rem;
  width: 80%;
}
section article ul {
  margin-left: 20px;
}
section article ul li {
  list-style: disc;
  font-size: 1.25rem;
  padding: 5px;
}
section article ol {
  margin-left: 25px;
  font-size: 1.25rem;
}
section article ol li {
  padding: 15px 5px;
}
section article a {
  cursor: pointer;
  text-decoration: underline;
}
section article a:hover {
  color: black;
}
section .backdrop {
  background: rgba(74, 74, 74, 0.15);
  min-height: 50vh;
  width: 80%;
  overflow: hidden;
  padding: 30px;
}

.mb-3 {
  margin-bottom: 30px;
}

.last-section {
  background: rgba(74, 74, 74, 0.15);
  padding-top: 50px;
  padding-bottom: 50px;
}

.white-backdrop {
  background: white;
  justify-content: space-between;
}

.improve {
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 1.3rem;
}
.improve:hover {
  color: black;
}

.question {
  font-size: 1.3rem;
}
.question button {
  width: 35%;
  margin-top: 30px;
}

.b-top {
  border-top: 2px solid rgba(74, 74, 74, 0.15);
  align-items: center;
}
.b-top h3 {
  font-weight: bolder;
  font-size: 1.2rem;
}
.b-top ul {
  display: flex;
  justify-content: flex-end;
  font-weight: bolder;
  font-size: 1.25rem;
}

.bigger {
  font-size: 1.5rem;
}

.w-80 {
  width: 80%;
}

footer {
  background-color: white;
  align-items: center;
  padding-bottom: 65px !important;
}
footer .logos {
  display: flex;
  justify-self: flex-end;
  font-size: 1.25rem;
}
footer .logos li {
  color: #cc9543;
  cursor: pointer;
}
footer .logos li:hover {
  color: black;
}
footer .vertical {
  justify-self: flex-end;
  font-weight: bolder;
}
footer .vertical li {
  cursor: pointer;
}
footer .vertical li:hover {
  color: black;
}

/*# sourceMappingURL=style.css.map */
